.login-header {
  text-align: center;
  min-height: 30vh;
  line-height: 30vh;
  font-size: calc(30px + 2vmin);
  background: #2db8db;
  color: #ffffff;
}

.login-form {
  max-width: 300px;
  margin: 50px auto;
}

.login-form button {
  width: 100%;
}
